@font-face {
  font-family: "Uni Neue";
  src: url(../fonts/UniNeueThin.ttf) format("ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Uni Neue";
  src: url(../fonts/UniNeueThin-Italic.ttf) format("ttf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Uni Neue";
  src: url(../fonts/UniNeueLight.ttf) format("ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Uni Neue";
  src: url(../fonts/UniNeueLight-Italic.ttf) format("ttf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Uni Neue";
  src: url(../fonts/UniNeueBook.ttf) format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Uni Neue";
  src: url(../fonts/UniNeueBook-Italic.ttf) format("ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Uni Neue";
  src: url(../fonts/UniNeueRegular.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Uni Neue";
  src: url(../fonts/UniNeueRegular-Italic.ttf) format("ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Uni Neue";
  src: url(../fonts/UniNeueBold.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Uni Neue";
  src: url(../fonts/UniNeueBold-Italic.ttf) format("ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Uni Neue";
  src: url(../fonts/UniNeueBlack.ttf) format("ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Uni Neue";
  src: url(../fonts/UniNeueBlack.ttf) format("ttf");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Uni Neue";
  src: url(../fonts/UniNeueHeavy.ttf) format("ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Uni Neue";
  src: url(../fonts/UniNeueHeavy-Italic.ttf) format("ttf");
  font-weight: 900;
  font-style: italic;
}
