@media (max-width: 990px) {
  .container {
    max-width: 1600px;
    padding: 0 10px;
  }
  .menu-burger {
    display: block;
    z-index: 999;
    span {
      width: 40px;
      height: 5px;
      background-color: #282728;
      position: absolute;
      top: 75px;
      right: 0px;
    }
    span::after,
    span::before {
      content: "";
      width: 40px;
      height: 5px;
      background-color: #282728;
      position: absolute;
    }
    span::after {
      top: 10px;
    }
    span::before {
      top: -10px;
    }
  }
  .menu-burger.active {
    span {
      height: 0;
    }
    span::after {
      transform: rotate(-45deg);
      top: 50%;
    }
    span::before {
      transform: rotate(45deg);
      top: 50%;
    }
  }
  .menu__nav {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #eee;
    transition: all 0.5s;
    opacity: 0;
    width: 70%;
  }

  .menu__nav.active {
    opacity: 1;
    transition: all 0.5s;
    z-index: 5;
  }
  .menu__nav ul {
    flex-direction: column;
    text-align: center;
    margin: 20px 0;
    padding-top: 130px;
  }
  .menu__nav-list {
    padding: 10px 30px;
    font-size: 20px;
  }
  .header-top {
    padding: 40px 0;
    position: relative;
  }
  .header__contacts {
    margin-right: 30px;
  }
  .header__map {
    display: none;
  }
  .header__logo-text {
    display: none;
  }
  .header__logo img {
    width: 100%;
    height: 100%;
  }
  .language {
    position: absolute;
    font-size: 16px;
    left: 50%;
  }

  .header__btn {
    color: #fff;
    font-size: 16px;
    padding: 23px 30px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 135px;
  }
  .header__contacts-call {
    font-size: 22px;
  }
  .header__contacts-call img {
    width: 20px;
    height: 20px;
  }
  .social {
    width: 45px;
    height: 45px;
    img {
      margin-top: 6px;
      width: 23px;
      height: 23px;
    }
    &--telegram img {
      margin-right: 3px;
      margin-top: 5px;
    }
  }
  .social + .social {
    margin-left: 10px;
  }
  .header__contacts {
    position: absolute;
    right: 0;
    top: 125px;
    margin-right: 0;
  }

  .info__title {
    margin-top: 100px;
    font-size: 60px;
  }
  .info__wrapper {
    max-width: 100%;
  }
  .info__box-bottom {
    flex-direction: column;
  }
  .info__sertificat {
    align-items: center;
  }

  .info__box {
    flex-direction: column;
    margin-top: 50px;
  }
  .info__item {
    margin-bottom: 30px;
    &-num {
      font-size: 72px;
      margin-left: 10px;
      margin-right: -10px;
      margin-top: -10px;
    }
    &-text {
      font-size: 22px;
      margin-left: 20px;
    }
    &::after {
      width: 30px;
      height: 25px;
    }
  }

  .info__calc-text {
    font-size: 20px;
    width: 100%;
    line-height: 1.4;
  }
  .info__calc-btn {
    width: 425px;
    padding: 30px 50px;
    padding-left: 100px;
    font-size: 17px;
    border-radius: 5px;
    &::after {
      width: 40px;
      height: 42px;
      top: 33px;
      left: 40px;
    }
  }
  .info-bg__images {
    display: none;
  }
  .info-bg__images-mobile {
    display: block;
    margin-top: -20px;
  }
  .info-bg__images-mobile img {
    width: 95%;
  }
  .info__calc {
    margin-right: 0;
  }
  .info__sertificat {
    margin-top: 50px;
  }
  .info__slider {
    width: 60%;
  }
  .info__slider-text {
    font-size: 18px;
    padding-bottom: 20px;
  }
  .info__slider-img img {
    width: 100%;
    margin-right: 20px;
  }
  .slick-prev.slick-arrow::before {
    top: 40%;
    left: -30px;
    width: 20px;
    height: 25px;
  }
  .slick-next.slick-arrow::before {
    top: 40%;
    right: -40px;
    width: 20px;
    height: 25px;
  }
}
@media (max-width: 560px) {
  .header__btn {
    font-size: 14px;
  }
  .header__contacts {
    top: 130px;
  }
  .header__contacts-call {
    font-size: 17px;
  }
  .header__contacts-call img {
    margin-top: 3px;
    width: 15px;
    height: 15px;
  }
  .social {
    margin-top: 10px;
    width: 40px;
    height: 40px;
  }
  .info__title {
    font-size: 50px;
  }
  .info__calc-btn {
    width: 350px;
    padding: 20px 50px;
    padding-left: 100px;
    font-size: 13px;
    border-radius: 5px;
    &::after {
      width: 40px;
      height: 42px;
      top: 20px;
      left: 40px;
    }
  }
}
@media (max-width: 480px) {
  .header__logo img {
    width: 80%;
  }
  .menu-burger span {
    top: 67px;
  }
  .header__btn {
    font-size: 13px;
  }
  .menu__nav {
    width: 80%;
  }
  .info__title {
    font-size: 40px;
  }
}
@media (max-width: 420px) {
  .header__logo img {
    width: 100px;
  }
  .language__text {
    font-size: 14px;
  }
  .menu-burger span {
    top: 57px;
  }
  .header__btn {
    padding: 20px 15px;
    font-size: 11px;
    top: 110px;
  }
  .header__contacts {
    top: 105px;
  }
  .header__contacts-call {
    font-size: 14px;
  }
  .header__contacts-social {
    margin-left: 5px;
  }
  .header__contacts-call img {
    margin-top: 2px;
    margin-left: 5px;
  }
  .info__title {
    margin-top: 80px;
    font-size: 35px;
  }
}
@media (max-width: 380px) {
  .menu__nav {
    width: 100%;
  }
  .info__title {
    font-size: 30px;
  }
  .info__item-text {
    font-size: 18px;
  }
  .info__calc-btn {
    width: 300px;
    padding: 15px 20px;
    padding-left: 80px;
    font-size: 12px;
    &::after {
      width: 40px;
      height: 42px;
      top: 12px;
      left: 30px;
    }
  }
}
